.footer {
    background: linear-gradient(45deg, #2c2c2c, #4b4b4b); 
    color: #978341;
    text-align: center;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px -4px 8px rgba(255, 215, 0, 0.2);
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0; 

  }
  
  .footer p {
    margin: 0; 
  }
  
  .footer a {
    color:  #d8b749;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer a:hover {
    color:#ffd700;
  }